<!-- <img class="style-img"
         src="https://media.istockphoto.com/photos/abstract-modern-technical-background-picture-id506395372"
         alt=""> -->
<div class="profile d-flex justify-content-center pt-5">
    <div class="profile-content d-flex justify-content-center pt-5">
        <div class="item-func">
            <div>
                <i nz-icon nzType="tablet" nzTheme="outline"></i>
            </div>
        </div>
        <div class="item-func" [routerLink]="'../profile'">
            <div>
                <i nz-icon nzType="user" nzTheme="outline"></i>
            </div>Profile
        </div>
        <div class="item-func">
            <div>
            </div>
        </div>
        <div class="item-func">
            <div>
            </div>
        </div>
        <div class="item-func">
            <div>
            </div>
        </div>
    </div>
</div>